{% extends "admin/change_form.html" %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="admin-breadcrumb-bar">
  {% include "admin/includes/quick_nav.html" %}
</div>
{% endblock %}

{% block object-tools-items %}
  <li><a href="{% url 'research_admin_dashboard' %}" class="historylink">返回后台主页面</a></li>
  {% url opts|admin_urlname:'changelist' as changelist_url %}
  {% if changelist_url %}
    <li><a href="{{ changelist_url }}" class="historylink">选择 {{ opts.verbose_name }} 来修改</a></li>
  {% endif %}
{% endblock %}
