{% extends "admin/base_site.html" %}
{% block content %}
<h1>导出 {{ batch.name }}</h1>
<form method="post">
  {% csrf_token %}
  <fieldset>
    <legend>数据类型</legend>
    {% for key, label in sections.items %}
      <label><input type="checkbox" name="sections" value="{{ key }}" checked> {{ label }}</label><br>
    {% endfor %}
  </fieldset>
  <fieldset>
    <legend>格式</legend>
    <label><input type="radio" name="format" value="xlsx" checked> Excel</label>
    <label><input type="radio" name="format" value="csv"> CSV 压缩包</label>
  </fieldset>
  <button type="submit" class="default">下载</button>
</form>
{% endblock %}
